.group-0 { color: #E5243B; background-color: #E5243B26; }
.group-1 { color: #FCAF17; background-color: #FCAF1726; }
.group-2 { color: #FF6F61; background-color: #FF6F6126; }
.group-3 { color: #FFBF00; background-color: #FFBF0026; }
.group-4 { color: #4CAF50; background-color: #4CAF5026; }
.group-5 { color: #0081A7; background-color: #0081A726; }
.group-6 { color: #5D2E8C; background-color: #5D2E8C26; }
.group-7 { color: #0496FF; background-color: #0496FF26; }
.group-8 { color: #8FB8ED; background-color: #8FB8ED26; }
.group-9 { color: #C5CBE3; background-color: #C5CBE326; }
.group-10 { color: #FF99C8; background-color: #FF99C826; }
.group-11 { color: #B83B5E; background-color: #B83B5E26; }
.group-12 { color: #C2FFED; background-color: #C2FFED26; }
.group-13 { color: #6497B1; background-color: #6497B126; }
.group-14 { color: #F64C72; background-color: #F64C7226; }
.group-15 { color: #DDFFF7; background-color: #DDFFF726; }
.group-16 { color: #1B998B; background-color: #1B998B26; }
.group-17 { color: #FFD5C2; background-color: #FFD5C226; }
.group-18 { color: #303960; background-color: #30396026; }
.group-19 { color: #F8B195; background-color: #F8B19526; }
.group-20 { color: #457B9D; background-color: #457B9D26; }
.group-21 { color: #FDDAED; background-color: #FDDAED26; }
.group-22 { color: #F07B3F; background-color: #F07B3F26; }
.group-23 { color: #9ED9CC; background-color: #9ED9CC26; }
.group-24 { color: #B1B695; background-color: #B1B69526; }
.group-25 { color: #662E9B; background-color: #662E9B26; }
.group-26 { color: #D6A2E8; background-color: #D6A2E826; }
.group-27 { color: #AD3E73; background-color: #AD3E7326; }
.group-28 { color: #FFAAA6; background-color: #FFAAA626; }
.group-29 { color: #FFD700; background-color: #FFD70026; }
.group-30 { color: #FF6361; background-color: #FF636126; }
.group-31 { color: #FFB627; background-color: #FFB62726; }
.group-32 { color: #62C370; background-color: #62C37026; }
.group-33 { color: #009DDC; background-color: #009DDC26; }
.group-34 { color: #754F44; background-color: #754F4426; }
.group-35 { color: #016FB9; background-color: #016FB926; }
.group-36 { color: #D6E9FF; background-color: #D6E9FF26; }
.group-37 { color: #008080; background-color: #00808026; }
.group-38 { color: #FFB6C1; background-color: #FFB6C126; }
.group-39 { color: #FFC72C; background-color: #FFC72C26; }
.group-40 { color: #E46B3C; background-color: #E46B3C26; }
.group-41 { color: #FFDAB9; background-color: #FFDAB926; }
.group-42 { color: #333D79; background-color: #333D7926; }
.group-43 { color: #C83E4D; background-color: #C83E4D26; }
.group-44 { color: #9370DB; background-color: #9370DB26; }
.group-45 { color: #FFD700; background-color: #FFD70026; }
.group-46 { color: #00BFFF; background-color: #00BFFF26; }
.group-47 { color: #3B3EAC; background-color: #3B3EAC26; }
.group-48 { color: #DFFF00; background-color: #DFFF0026; }
.group-49 { color: #E52B50; background-color: #E52B5026; }
